.App {
  text-align: center;
}

.App-header {
  background-color: #A8DADE;
  min-height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 10px 0;
}

.city-count {
  font-size: 0.5em;
  margin: 5px;
}

/* WIDGET  WEEK */

.week-widget-container {
  background: #E5EBF2;
  display: flex;
}

.week-widget-container > .week-widget-item {
  background: #FFFFFF;
  height: 250px;
  margin: 10px 5px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  flex-grow: 1;
  flex-basis: 0;
  padding: 0.5em;
}

.week-widget-item > .date > .weekday {
  color: #59B7C2;
  font-weight: bold;
  font-size: 1em;
}

.week-widget-item > .date > .weekdate {
  color: #2A2A2A;
  font-size: 0.9em;
}

.week-widget-item > .main-icon {
  color: #2A2A2A;
  font-weight: bold;
  font-size: 1em;
  display: flex;
  flex-direction: column;
}

.week-widget-item > .extra-info > .temp,
.week-widget-item > .extra-info > .humidity {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}

.week-widget-item > .extra-info > .temp > .min {
  font-size: 1.1em;
  color: #A8DADE;
  display: flex;
  align-self: center;
  align-items: flex-start;
}

.week-widget-item > .extra-info > .temp > .max {
  font-size: 1.5em;
  color: #59B7C2;
  display: flex;
  align-self: center;
  align-items: flex-start;
}

.week-widget-item > .extra-info > .humidity > .hum {
  font-size: 1.5em;
  color: #59B7C2;
  display: flex;
}

.week-widget-item > .extra-info {
  display: flex;
  margin: 10px 0;
  padding: 0.2em;
}

/* WIDGET DAY */

.day-widget-container {
  background: #A8DADE;
  display: flex;
}

.day-widget-container > .day-widget-item {
  background: #FFFFFF;
  height: 80px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;
  padding: 0.5em;
}

.day-widget-item > .temp {
  display: flex;
  align-items: center;
  align-self: center;
  font-size: 1.1em;
  color: #59B7C2;
}

.day-widget-item > .date {
  font-size: 0.9em;
}

.day-widget-item > .main-icon {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 0.5em 0;
}


/* CURRENT WIDGET */

.current-widget {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
}

.current-widget > .current-widget-info {
  display: flex;
  align-items: center;
  align-content: center;
  align-self: center;
}

.current-widget > .current-widget-info > .temp {
  display: flex;
  align-items: center;
  align-content: center;
  font-size: 5em;
  color: #59B7C2;
}
